// Color 
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #11192E;

  --color-accent: #CB454D;
  --color-border: #E6D8C7;

  // * ==== Linear Gradient After For Service Card
  --gradient-service: linear-gradient(180deg, rgba(16, 23, 44, 0) 0%, #10172C 91.99%);

  // * ==== About Background Image Effect
  --background-hover: rgba(3, 15, 45, 0.35);
}

// * breakpointsMaxW
$bp-container: 1215px;
$bp-991: 991px;
$bp-768: 768px;
$bp-650: 650px;
$bp-576: 576px;
$bp-420: 420px;

// *=== Fonts
$Lato: 'Lato';
$Mont: 'Mont';
$Montserrat: 'Montserrat';
$Roboto: 'Roboto';

// * ==== Z-Index
$z-1: 1;
$z-5: 5;
$z-10: 10;
$z-100: 100;