<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Наш офис</h2>

    <div class="contacts__wrapper">
      <div class="contacts__preview">
        <img src="images/content/about/1.jpg" alt="Наш офис">
      </div>

      <div class="contacts__offer">
        <div class="contacts__box">
          <h3 class="contacts__title">Главный офис</h3>
          <a class="contacts__link contacts__link--location" href="#">360 W 31st St #5, New York, NY 10001, United
            States</a>
          <a class="contacts__link contacts__link--mail" href="mailto:info@rate-and-go.com">info@rate-and-go.com</a>
        </div>

        <div class="contacts__box">
          <h3 class="contacts__title">Представительства <span class="text-accent">RateGo</span> в Европе</h3>
          <div class="contacts__cols">
            <div class="contacts__col">
              <p class="contacts__name"><span class="text-accent">RateGo</span>-Украина</p>

              <address>
                <a class="contacts__link contacts__link--location" href="#">ул. Мечникова, 16, офис 4-8,
                  г. Киев, Украина, 01021
                  eu@rate-and-go.com
                  +380-67-641-20-40</a>
              </address>
            </div>
            <div class="contacts__col">
              <p class="contacts__name"><span class="text-accent">RateGo</span>-Украина</p>

              <address>
                <a class="contacts__link contacts__link--location" href="#">БЦ Кулон, ул. 8 Марта, 14, офис 315, Москва,
                  Россия, 127092
                  info@rate-and-go.com
                  +7-926-584-59-84</a>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>