<section class="promo promo--with-text">
  <div class="container">
    <div class="promo__offer">
      <h2 class="promo__title section-title">Выполняем грузоперевозки по всему миру</h2>

      <div class="promo__text">
        <p>Будь в курсе цен на международные перевозки 24/7! Калькулятор стоимости перевозки поможет оперативно
          рассчитать цену доставки груза. Рассчитывай стоимость доставки от 100 кг до 22т online.</p>
      </div>

      <button class="promo__btn btn">Рассчитать стоимость</button>
    </div>
  </div>
</section>