.hero {
  background-color: var(--color-dark);
  color: var(--color-white);
  min-height: 875px;

  padding-top: 150px;
  padding-bottom: 72px;
  z-index: 1;
  position: relative;

  margin-bottom: 120px;
  @include backgroundImage(url('../images/content/hero/main.jpg'), cover);

  @include breakpointsMaxW($bp-container) {
    margin-bottom: calc(50px + (120 - 50) * ((100vw - 320px) / (1215 - 320)));
  }


  &--avia {
    min-height: 527px;
    @include backgroundImage(url('../images/content/hero/avia.jpg'), cover);
  }

  &--outsourcing {
    min-height: 564px;
    @include backgroundImage(url('../images/content/hero/outsourcing.jpg'), cover);

    .hero__wrapper {
      max-width: 496px;
    }

    .hero__text {
      margin-bottom: 35px;

      p {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        &:not(:last-child) {
          margin-bottom: 30px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .hero__btn {
      max-width: 255px;
    }
  }

  &--contacts {
    min-height: 505px;
    @include backgroundImage(url('../images/content/hero/contacts.jpg'), cover);
  }

  &--service {
    min-height: 505px;
    @include backgroundImage(url('../images/content/hero/service.jpg'), cover);
  }

  &::after {
    @include pseudoElDefault();
    width: 100%;
    height: 100%;
    background: rgba(3, 15, 45, 0.35);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 250ms ease;
  }

  @include breakpointsMaxW($bp-768) {
    text-align: center;
  }

  &__title {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 26px;

    @include breakpointsMaxW($bp-container) {
      font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1215 - 320)));
      line-height: calc(30px + (56 - 30) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;

    @include breakpointsMaxW($bp-container) {
      padding-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1215 - 320)));
      padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &__form {
    margin-bottom: 24px;

    @include breakpointsMaxW($bp-768) {}
  }

  &__bottom {
    border-top: 1px solid var(--color-white);
    padding-top: 35px;
    position: relative;
  }
}