.nav-contacts {
  font-size: 12px;
  line-height: 15px;

  &__list {
    display: flex;
    align-items: center;
    gap: 29px;

    @include breakpointsMaxW($bp-991) {
      gap: 5px;
    }
  }

  &__link {
    display: block;
    padding-left: 22px;
    position: relative;
    transition: 150ms ease-in;

    &:hover {
      color: var(--color-accent);

      &::after {
        background-color: var(--color-accent);
      }
    }

    @include breakpointsMaxW($bp-991) {
      span {
        display: none;
      }
    }

    &::after {
      @include pseudoElDefault();
      width: 16px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white);
      transition: 150ms ease-in;
    }

    &--phone {
      &::after {
        @include maskImage(url('../images/sprite.svg#phone-icon'), cover);
      }
    }

    &--mail {
      &::after {
        @include maskImage(url('../images/sprite.svg#mail-icon'), cover);
      }
    }

    &--address {
      &::after {
        @include maskImage(url('../images/sprite.svg#location-icon'), cover);
      }
    }
  }
}