.services {
  margin-bottom: 130px;

  @include breakpointsMaxW($bp-container) {
    margin-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (1215 - 320)));
  }

  &__title {
    margin-bottom: 63px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(20px + (63 - 20) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;

    @include breakpointsMaxW($bp-container) {
      gap: calc(15px + (21 - 15) * ((100vw - 320px) / (1215 - 320)));
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    width: 100%;
  }
}