.about {
  margin-bottom: 130px;

  &:hover {
    .about__preview {
      &::after {
        opacity: 0;
        visibility: hidden;
        transform: scaleX(0);
      }
    }
  }

  @include breakpointsMaxW($bp-container) {
    margin-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (1215 - 320)));
  }

  &__wrapper {
    display: flex;
    gap: 123px;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpointsMaxW($bp-container) {
      gap: calc(30px + (50 - 30) * ((100vw - 320px) / (1215 - 320)));
    }

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 46px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(20px + (46 - 20) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &__offer {
    max-width: 480px;

    @include breakpointsMaxW($bp-991) {
      max-width: 100%;
    }
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: 25px;

        @include breakpointsMaxW($bp-container) {
          margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1215 - 320)));
        }
      }
    }
  }

  &__preview {
    max-width: 577px;
    width: 100%;
    height: 327px;
    position: relative;

    &::after {
      @include pseudoElDefault();
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--background-hover);
      transform-origin: right;
      
      transform: scaleX(1);
      opacity: 1;
      visibility: visible;
      transition: 250ms ease;
    }

    img {
      @include img(cover);
    }

    @include breakpointsMaxW($bp-container) {
      height: calc(200px + (327 - 200) * ((100vw - 320px) / (1215 - 320)));
    }
  }
}