.socials {
  &__text {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 81px;
  }

  &__link {
    display: block;
    width: 17px;
    height: 17px;
    transition: 150ms ease-in;
    position: relative;

    &::before {
      @include pseudoElDefault();
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-white);
    }

    &:focus {
      box-shadow: 0 0 0 3px var(--color-accent);
    }

    &:hover {
      transform: scale(1.3);

      &::before {
        background-color: var(--color-accent);
      }
    }

    &:active {
      background-color: var(--color-white);
      color: var(--color-accent);
    }

    @include breakpointsMaxW($bp-991) {
      &:hover {
        transform: scale(1);

        &::before {
          background-color: var(--color-white);
        }
      }
    }

    &--telegram {
      &::before {
        @include maskImage(url('../images/sprite.svg#telegram'), cover);
      }
    }

    &--whatsapp {
      &::before {
        @include maskImage(url('../images/sprite.svg#whatsapp'), cover);
      }
    }

    &--facebook {
      &::before {
        @include maskImage(url('../images/sprite.svg#facebook'), cover);
      }
    }
  }
}