.socials {
  height: 130px;
  background-color: #fff;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 81px;
    height: 100%;
  }

  &__item {}

  &__link {
    background-color: #fff;
    width: 15px;
    height: 15px;
  }
}