.socials {
  &__text {
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 81px;
  }

  &__link {
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--color-white);

    &--telegram {
      @include maskImage(url('../images/sprite.svg#telegram'), cover);
    }

    &--whatsapp {
      @include maskImage(url('../images/sprite.svg#telegram'), cover);
    }

    &--facebook {
      @include maskImage(url('../images/sprite.svg#telegram'), cover);
    }
  }
}