.task-card {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 31px;
  padding-top: 64px;
  position: relative;
  max-width: 315px;
  height: 100%;

  @include breakpointsMaxW($bp-container) {
    padding-bottom: calc(20px + (31 - 20) * ((100vw - 320px) / (1215 - 320)));
    padding-top: calc(40px + (64 - 40) * ((100vw - 320px) / (1215 - 320)));
  }

  &--acceptance {
    &::before {
      @include maskImage(url('../images/content/tasks/1.svg'), contain);
    }
  }

  &--terminal {
    &::before {
      @include maskImage(url('../images/content/tasks/2.svg'), contain);
    }
  }

  &--booking {
    &::before {
      @include maskImage(url('../images/content/tasks/3.svg'), contain);
    }
  }

  &--control {
    &::before {
      @include maskImage(url('../images/content/tasks/4.svg'), contain);
    }
  }

  &--dispatch {
    &::before {
      @include maskImage(url('../images/content/tasks/5.svg'), contain);
    }
  }

  &--issue {
    &::before {
      @include maskImage(url('../images/content/tasks/6.svg'), contain);
    }
  }

  &:before {
    @include pseudoElDefault();
    width: 60px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: var(--color-dark);

    @include breakpointsMaxW($bp-container) {
      width: calc(45px + (60 - 45) * ((100vw - 320px) / (1215 - 320)));
      height: calc(30px + (50 - 30) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &::after {
    @include pseudoElDefault();
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    bottom: 0;
    left: 0;
  }

  &__name {
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 29px;

    color: var(--color-black);

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(15px + (35 - 15) * ((100vw - 320px) / (1215 - 320)));
      font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1215 - 320)));
    }
  }
}