.work-process {
  margin-bottom: 125px;

  @include breakpointsMaxW($bp-container) {
    margin-bottom: calc(50px + (125 - 50) * ((100vw - 320px) / (1215 - 320)));
  }


  &__title {
    margin-bottom: 84px;

    @include breakpointsMaxW($bp-container) {
      margin-bottom: calc(30px + (84 - 30) * ((100vw - 320px) / (1215 - 320)));
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;

    @include breakpointsMaxW($bp-container) {
      gap: calc(30px + (120 - 30) * ((100vw - 320px) / (1215 - 320)));
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {}
}