<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="logo" href="">
        <img src="images/logo.svg" alt="Логотип">
      </a>

      <div class="footer__lists footer-menu">
        <div class="footer-menu__col">
          <div class="footer-menu-box">
            <ul class="footer-menu-box__list">
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">О компании</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">О нас</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Схема работы</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Вакансии</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu-box">
            <ul class="footer-menu-box__list">
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Калькулятор</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Контактыс</a>
              </li>
            </ul>
          </div>
          <div class="footer__socials socials">
            <p class="socials__text">Связаться с нами:</p>
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link socials__link--telegram" href=""></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--whatsapp" href=""></a>
              </li>
              <li class="socials__item">
                <a class="socials__link socials__link--facebook" href=""></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-menu__col">
          <div class="footer-menu-box">
            <ul class="footer-menu-box__list">
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Услуги</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Авто</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Море</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Авиа</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Сборный</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Мультимодальный</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Негабаритный</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Экспедирование</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Таможня</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Склад</a>
              </li>
              <li class="footer-menu__item">
                <a class="footer-menu__link" href="#">Аутсорсинг</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__contacts nav-contacts">
          <h3 class="nav-contacts__title">Главный офис</h3>
          <ul class="nav-contacts__list">
            <li class="nav-contacts__item">
              <a class="nav-contacts__link nav-contacts__link--address" href="#"><span>ул. Десятинная 1/3, Киев 01001
                  Украина</span>
              </a>
            </li>
            <li class="nav-contacts__item">
              <a class="nav-contacts__link nav-contacts__link--mail"
                href="mailto:info@rate-and-go.com"><span>info@rate-and-go.com</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__question-box question-box">
          <h3 class="question-box__title">Остались вопросы?</h3>
          <div class="question-box__text">
            Оставьте свои контакты, и мы свяжемся с вами в ближайшее время!
          </div>
          <button class="question-box__btn btn">Связаться</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom"></div>
</footer>