<section class="work-process">
  <div class="container">
    <h2 class="work-process__title section-title">Как мы работаем</h2>

    <ul class="work-process__items">
      <li class="work-process__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">01</span>
            <div class="work-process-card__text">Расчет стоимости.</div>
          </div>
        </div>
      </li>
      <li class="work-process__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/2.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">02</span>
            <div class="work-process-card__text">Оформление доставки и согласование деталей.</div>
          </div>
        </div>
      </li>
      <li class="work-process__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/3.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">03</span>
            <div class="work-process-card__text">Доставка вашего груза в место назначения.</div>
          </div>
        </div>
      </li>
      <li class="work-process__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/4.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">04</span>
            <div class="work-process-card__text">Оплата любым удобным для вас способом.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>