<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2 class="partners__title section-title">Вы в хорошей компании</h2>

      <ul class="partners__items">
        <li class="partners__item">
          <img src="images/content/partners/1.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/2.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/3.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/4.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/5.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/6.svg" alt="">
        </li>
        <li class="partners__item">
          <img src="images/content/partners/7.svg" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>