<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title">Причины доверить логистику нам</h2>

    <ul class="advantages__items">
      <li class="advantages__item ">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">01</span>
            <div class="work-process-card__text">Мы не посредники - только прямые договора.</div>
          </div>
        </div>
      </li>
      <li class="advantages__item ">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">02</span>
            <div class="work-process-card__text">Работаем по фиксированной комиссии.</div>
          </div>
        </div>
      </li>
      <li class="advantages__item ">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">03</span>
            <div class="work-process-card__text">Менеджер с вами на связи 24/7.</div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">04</span>
            <div class="work-process-card__text">16 лет на рынке. Большая наработанная база перевозчиков.</div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div class="work-process-card">
          <div class="work-process-card__img">
            <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
          </div>
          <div class="work-process-card__info">
            <span class="work-process-card__number">05</span>
            <div class="work-process-card__text">Быстрая организация поставок.</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>