<section class="consultation">
  <div class="container">
    <div class="consultation__offer">
      <h2 class="consultation__title section-title">Получите <span class="text-accent">бесплатную</span> консультацию
      </h2>
      <div class="consultation__text">
        <p>Заполните форму, и мы свяжемся с Вами, чтобы рассказать подробнее об аутсорсинге с RateGo logistics.</p>
      </div>

      <form class="consultation__form form">
        <label class="form__group">
          <input class="form__input" type="text" placeholder="Ваше Имя" name="name" required>
        </label>
        <label class="form__group">
          <input class="form__input" type="tel" placeholder="Ваше Телефон" name="tel" required>
        </label>
        <button class="consultation__btn btn" type="submit">Рассчитать стоимость</button>
      </form>
    </div>
  </div>
</section>