<section class="testimonials">
  <div class="container">
    <div class="testimonials__wrapper">
      <h2 class="testimonials__title section-title">Что о нас говорят клиенты</h2>

      <div class="testimonials__slider">
        <div class="slider swiper">
          <ul class="slider__wrapper swiper-wrapper">
            <li class="swiper-slide">
              <article class="testimonial">
                <div class="testimonial__img">
                  <img src="images/content/partners/1.svg" alt="Отзыв 1">
                </div>
                <div class="testimonial__text">
                  <p>Компания RateGo Logistics выступает нашим надежным партнером по сотрудничеству уже очень длительное
                    время.</p>
                </div>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="testimonial">
                <div class="testimonial__img">
                  <img src="images/content/partners/1.svg" alt="Отзыв 1">
                </div>
                <div class="testimonial__text">
                  <p>Компания RateGo Logistics выступает нашим надежным партнером по сотрудничеству уже очень длительное
                    время.</p>
                </div>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="testimonial">
                <div class="testimonial__img">
                  <img src="images/content/partners/1.svg" alt="Отзыв 1">
                </div>
                <div class="testimonial__text">
                  <p>Компания RateGo Logistics выступает нашим надежным партнером по сотрудничеству уже очень длительное
                    время.</p>
                </div>
              </article>
            </li>
            <li class="swiper-slide">
              <article class="testimonial">
                <div class="testimonial__img">
                  <img src="images/content/partners/1.svg" alt="Отзыв 1">
                </div>
                <div class="testimonial__text">
                  <p>Компания RateGo Logistics выступает нашим надежным партнером по сотрудничеству уже очень длительное
                    время.</p>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-pagination"></div>
        </div>

        <div class="slider-buttons">
          <button class="swiper-button-prev" type="button" aria-label="Показать предыдущий слайд">
            <svg>
              <use xlink:href="images/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="swiper-button-next" type="button" aria-label="Показать следующий слайд">
            <svg>
              <use xlink:href="images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>