<section class="work-process">
  <div class="container">
    <h2 class="work-process__title section-title">Как мы работаем</h2>

    <ul class="work-process__items">
      <li class="work-process__item work-process-card">
        <div class="work-process-card__img">
          <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
        </div>
        <div class="work-process-card__info">
          <span class="work-process-card__number">01</span>
          <div class="work-process-card__text">Расчет стоимости.</div>
        </div>
      </li>
      <li class="work-process__item work-process-card">
        <div class="work-process-card__img">
          <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
        </div>
        <div class="work-process-card__info">
          <span class="work-process-card__number">01</span>
          <div class="work-process-card__text">Оформление доставки и согласование деталей..</div>
        </div>
      </li>
      <li class="work-process__item work-process-card">
        <div class="work-process-card__img">
          <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
        </div>
        <div class="work-process-card__info">
          <span class="work-process-card__number">01</span>
          <div class="work-process-card__text">Расчет стоимости.</div>
        </div>
      </li>
      <li class="work-process__item work-process-card">
        <div class="work-process-card__img">
          <img src="images/content/work-process/1.jpg" alt="Расчет стоимости.">
        </div>
        <div class="work-process-card__info">
          <span class="work-process-card__number">01</span>
          <div class="work-process-card__text">Расчет стоимости.</div>
        </div>
      </li>
    </ul>
  </div>
</section>