<section class="transport-goods">
  <div class="container">
    <h2 class="transport-goods__title section-title">Что мы перевозим</h2>

    <ul class="transport-goods__items">
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
      <li class="transport-goods__item">
        <div class="goods-card">
          <span class="goods-card__name">
            Генеральные грузы
          </span>

          <a class="goods-card__btn btn" href="#">Узнать больше</a>
        </div>
      </li>
    </ul>
  </div>
</section>